[Unit]
Description=Systemd service to manage warpbuild-agent lifecycle
After=network.target

[Service]
ExecStart=/usr/local/bin/warpbuild-agentd
WorkingDirectory=/
Restart=always
RestartSec=5
User=runner
Group=sudo

[Install]
WantedBy=multi-user.target
