[Unit]
Description=Systemd service to manage warpbuild-agent lifecycle
After=network.target

[Service]
ExecStart=/usr/local/bin/warpbuild-agentd --settings-file=~/.warpbuild/warpbuild-agent/settings.json
WorkingDirectory=/
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
