[Unit]
Description=Systemd service to manage warpbuild-proxy lifecycle
After=network.target

[Service]
ExecStart=/usr/local/bin/warpbuild-agentd --launch-proxy-server
WorkingDirectory=/
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
