openapi: 3.0.1
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is the docs for warp builds api for argonaut
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Warp Builds API Docs
  version: 0.4.0
servers:
- url: https://backend.warpbuild.com/api/v1
paths:
  /auth:
    post:
      description: Logs in or signs up the userm
      operationId: AuthUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthUserRequest'
        description: Auth request body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUserResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Internal Server Error
      summary: Auth user
      tags:
      - v1 auth
      x-codegen-request-body-name: body
  /auth/login/{provider}:
    get:
      description: Get auth url
      operationId: GetAuthURL
      parameters:
      - description: Provider
        in: path
        name: provider
        required: true
        schema:
          type: string
      responses:
        "302":
          content:
            '*/*':
              schema:
                type: string
          description: Redirects to auth url
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      summary: Get auth url
      tags:
      - v1 auth
  /auth/logout:
    patch:
      description: Logs out the user
      operationId: Logout
      responses:
        "200":
          content: {}
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Internal Server Error
      security:
      - JWTKeyAuth: []
      summary: Logout
      tags:
      - v1 auth
  /auth/me:
    get:
      description: Gets the currently logged in user
      operationId: GetMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Internal Server Error
      security:
      - JWTKeyAuth: []
      summary: Auth user
      tags:
      - v1 auth
  /auth/switch:
    patch:
      operationId: SwitchOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwitchOrganizationRequest'
        description: Switch organization
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwitchOrganizationResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Internal Server Error
      security:
      - JWTKeyAuth: []
      summary: Switch organization
      tags:
      - v1 auth
      x-codegen-request-body-name: body
  /auth/token/refresh:
    patch:
      description: Refreshes the access token
      operationId: RefreshToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefreshRequest'
        description: Refresh token
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefreshResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Internal Server Error
      summary: Refresh token
      tags:
      - v1 auth
      x-codegen-request-body-name: body
  /auth/tokens:
    get:
      description: List user tokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commons.ListTokensOptions'
        description: ListTokenOptions
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/commons.UserToken'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - WarpBuildAdminSecretAuth: []
      summary: List user tokens
      tags:
      - v1 auth
      x-codegen-request-body-name: body
  /auth/users:
    get:
      description: List users from authentication provider
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commons.ListUsersOptions'
        description: ListUsersOptions
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/commons.ListUsersResponse'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - WarpBuildAdminSecretAuth: []
      summary: List users
      tags:
      - v1 auth
      x-codegen-request-body-name: body
  /billing/checkout:
    post:
      operationId: InitateSubscriptionCheckout
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commons.ReqCheckoutSession'
        description: initiate checkout session input
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.ResCheckoutSession'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Service Unavailable
      security:
      - JWTKeyAuth: []
      summary: Initiate Checkout for subscription with PG
      tags:
      - v1 subscriptions
      x-codegen-request-body-name: Body
  /billing/info:
    get:
      operationId: GetBillingInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.BillingInfo'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Service Unavailable
      security:
      - JWTKeyAuth: []
      summary: Get Billing Info
      tags:
      - v1 subscriptions
    patch:
      operationId: UpdateBillingInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commons.UpdateBillingInfoInput'
        description: billing info update input
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.BillingInfo'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Service Unavailable
      security:
      - JWTKeyAuth: []
      summary: Update Billing Info
      tags:
      - v1 subscriptions
      x-codegen-request-body-name: Body
  /billing/setup_intent/init:
    post:
      operationId: InitiateSetupIntent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commons.ReqSetupIntentInit'
        description: initiate setup intent session input
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.ResSetupIntentInit'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Service Unavailable
      security:
      - JWTKeyAuth: []
      summary: Initiate Checkout for subscription with PG
      tags:
      - v1 subscriptions
      x-codegen-request-body-name: Body
  /billing/setup_intent/post_processor:
    post:
      operationId: PostSetupIntent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commons.PostPaymentMethodSetupInput'
        description: post setup intent session input
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.PostPaymentMethodSetupInput'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Service Unavailable
      security:
      - JWTKeyAuth: []
      summary: Post Checkout processing for subscription with PG
      tags:
      - v1 subscriptions
      x-codegen-request-body-name: Body
  /billing/usage/internal:
    post:
      operationId: PostUsageForInternalService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commons.InternalPostUsageInput'
        description: post usage input
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.InternalPostUsageOutput'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Service Unavailable
      security:
      - WarpBuildServiceSecretAuth: []
      summary: Post Usage for internal service
      tags:
      - v1 billing
      x-codegen-request-body-name: Body
  /debugger/events/publish:
    post:
      operationId: DebugPublishEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/debugger.PublishEventInput'
        description: Event to publish
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.GenericSuccessMessage'
          description: JSON response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Internal Server Error
      security:
      - WarpBuildAdminSecretAuth: []
      summary: Publish an event to the event bus
      tags:
      - v1 debugger
      x-codegen-request-body-name: body
  /insights/integrations/github/callback:
    post:
      description: Callback for verifying insights integration
      operationId: GitHubCallback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/insights.callbackInput'
        description: Callback input
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUserResponse'
          description: OK
      security:
      - JWTKeyAuth: []
      summary: GitHub callback for insights
      tags:
      - v1 insights integrations
      x-codegen-request-body-name: body
  /jobs/cost-summary:
    get:
      description: GetCostSummary
      operationId: GetCostSummary
      parameters:
      - description: Date range start
        in: query
        name: start_date
        required: true
        schema:
          type: string
      - description: Date range end
        in: query
        name: end_date
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/commons.CostSummary'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: GetCostSummary
      tags:
      - v1 jobs
  /jobs/daywise-costs:
    get:
      description: GetDaywiseCosts
      operationId: GetDaywiseCosts
      parameters:
      - description: Date range start
        in: query
        name: start_date
        required: true
        schema:
          type: string
      - description: Date range end
        in: query
        name: end_date
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/commons.DaywiseCost'
                type: array
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: GetDaywiseCosts
      tags:
      - v1 jobs
  /organization:
    get:
      operationId: GetOrganization
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.Organization'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Get organization details for the current organization. Current organization
        is figured from the authorization token
      tags:
      - v1 organization
    patch:
      description: Organization is figured out from the auth token since tokens are
        specific to organizations.
      operationId: UpdateOrganization
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateOrganizationRequest'
        description: Update existing organization body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.Organization'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: ""
      security:
      - JWTKeyAuth: []
      summary: Updates existing organization based on the fields provided.
      tags:
      - v1 organization
      x-codegen-request-body-name: body
    post:
      description: "User can manage multiple tenanats from one account, this api provides\
        \ user a functionality to add a new tenant/org to the user."
      operationId: CreateOrganization
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwitchOrganizationResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: ""
      security:
      - JWTKeyAuth: []
      summary: Adds a new organisation for a current user
      tags:
      - v1 organization
  /organization/users:
    get:
      operationId: ListOrgUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/V1ListUsersForOrganizationResult'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: ""
      security:
      - JWTKeyAuth: []
      summary: ListOrgUsers list the users for the current organization
      tags:
      - v1 organization
  /organizations:
    get:
      operationId: ListUserOrganizations
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/V1Organization'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: ""
      security:
      - JWTKeyAuth: []
      summary: ListUserOrganizations lists all the organization user has access to.
      tags:
      - v1 organization
  /runner_instance/internal/{id}/last_job_processed_meta:
    get:
      operationId: GetRunnerLastJobProcessedMeta
      parameters:
      - description: runner instance id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.LastJobProcessedMeta'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - WarpBuildServiceSecretAuth: []
      summary: Get runner last used job meta
      tags:
      - v1 RunnerInstance
  /runners:
    get:
      operationId: ListRunners
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/commons.Runner'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: ""
      security:
      - JWTKeyAuth: []
      summary: ListRunners lists all the runners for an org.
      tags:
      - v1 Runners
    post:
      description: User can request a runner setup by passing different name.
      operationId: SetupRunner
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/commons.SetupRunnerInput'
        description: Create new runner body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.Runner'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: ""
      security:
      - JWTKeyAuth: []
      summary: Adds a new runner for a current organization
      tags:
      - v1 Runners
      x-codegen-request-body-name: body
  /runners/cost/calculator:
    post:
      operationId: ComputeCustomRunnerRate
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/commons.RateCalculationInput'
        description: Compute custom runner rate
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.RateCalculationOutput'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Get ComputeCustomRunnerRate details
      tags:
      - v1 runners
      x-codegen-request-body-name: body
  /runners/default-group:
    get:
      operationId: GetRunnerSetDefaultGroup
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.RunnerSetDefaultGroup'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Get default group for runner set
      tags:
      - v1 Runners
    patch:
      operationId: SetRunnerSetDefaultGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commons.SetRunnerSetDefaultGroupInput'
        description: Set default group for runner set body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.RunnerSetDefaultGroup'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Set default group for runner set
      tags:
      - v1 Runners
      x-codegen-request-body-name: body
  /runners/usage:
    get:
      operationId: GetRunnersUsage
      parameters:
      - description: Date range start
        in: query
        name: start_date
        required: true
        schema:
          type: string
      - description: Date range end
        in: query
        name: end_date
        required: true
        schema:
          type: string
      - description: Capacity types
        explode: true
        in: query
        name: capacity_types
        schema:
          items:
            enum:
            - ondemand
            - spot
            type: string
          type: array
        style: form
      - description: Architectures
        explode: true
        in: query
        name: archs
        schema:
          items:
            enum:
            - x64
            - arm64
            type: string
          type: array
        style: form
      - description: Images
        explode: true
        in: query
        name: images
        schema:
          items:
            enum:
            - macos-13
            - ubuntu-2204
            - macos-14
            - ubuntu-2404
            type: string
          type: array
        style: form
      - description: Cores
        explode: true
        in: query
        name: cores
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: Runner types
        explode: true
        in: query
        name: runner_types
        schema:
          items:
            enum:
            - stock
            - custom
            type: string
          type: array
        style: form
      - description: Search term
        in: query
        name: search_term
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.RunnersUsage'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Get runtimes for runners of the organisation
      tags:
      - v1 Runners
  /runners/{id}:
    delete:
      operationId: DeleteRunner
      parameters:
      - description: Runner ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.Runner'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: delete runner for the id. Current organization is figured from the
        authorization token
      tags:
      - v1 Runners
    get:
      operationId: GetRunner
      parameters:
      - description: Runner ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.Runner'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Get runner details for the id. Current organization is figured from
        the authorization token
      tags:
      - v1 Runners
    patch:
      operationId: UpdateRunner
      parameters:
      - description: Runner ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commons.UpdateRunnerInput'
        description: update runner body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.Runner'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Get runner details for the id. Current organization is figured from
        the authorization token
      tags:
      - v1 Runners
      x-codegen-request-body-name: body
  /runners_instance/{id}/allocation_details:
    get:
      operationId: GetRunnerInstanceAllocationDetails
      parameters:
      - description: runner instance id
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: polling secret for validation
        in: header
        name: X-POLLING-SECRET
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.RunnerInstanceAllocationDetails'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      summary: Get runner instance allocation details for the id
      tags:
      - v1 RunnerInstance
  /runners_instance/{id}/cleanup_hook:
    post:
      operationId: RunnerInstanceCleanupHook
      parameters:
      - description: runner instance id
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: polling secret for validation
        in: header
        name: X-POLLING-SECRET
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      summary: Get runner instance allocation details for the id
      tags:
      - v1 RunnerInstance
  /runners_instance/{id}/presigned_log_upload_url:
    get:
      operationId: GetRunnerInstancePresignedLogUploadURL
      parameters:
      - description: runner instance id
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: polling secret for validation
        in: header
        name: X-POLLING-SECRET
        required: true
        schema:
          type: string
      - description: Log file name
        in: query
        name: log-file-name
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: presigned url
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      summary: Gets a presigned url for uploading logs for a runner instance
      tags:
      - v1 RunnerInstance
  /sku:
    get:
      operationId: ListSku
      parameters:
      - description: list of sku id's
        explode: true
        in: query
        name: ids
        schema:
          items:
            type: string
          type: array
        style: form
      - description: cores
        in: query
        name: cores
        schema:
          type: integer
      - description: memory
        in: query
        name: memory
        schema:
          type: integer
      - description: Architectures
        in: query
        name: arch
        schema:
          enum:
          - x64
          - arm64
          type: string
      - description: operating system
        explode: true
        in: query
        name: os
        schema:
          items:
            enum:
            - ubuntu
            - mac
            type: string
          type: array
        style: form
      - description: Images
        in: query
        name: manufacturer
        schema:
          enum:
          - any
          - amd
          - intel
          - arm
          type: string
      - description: performance category
        in: query
        name: performance_category
        schema:
          enum:
          - small
          - medium
          - large
          type: string
      - description: has gpu
        in: query
        name: has_gpu
        schema:
          type: boolean
      - description: burstable
        in: query
        name: burstable
        schema:
          type: boolean
      - description: include internal skus
        in: query
        name: include_internal
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/commons.InstanceSku'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: ""
      security:
      - JWTKeyAuth: []
      summary: ListAllSku lists all the runners sku for an org.
      tags:
      - v1 Sku
  /sku/{id}:
    get:
      operationId: GetSku
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.InstanceSku'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Get default group for runner set
      tags:
      - v1 Sku
  /subscription:
    delete:
      operationId: DeleteCurrentSubscription
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.SubscriptionDetails'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Cancel Org current Subscription
      tags:
      - v1 subscriptions
    get:
      operationId: GetSubscriptionDetails
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.SubscriptionDetails'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Get Current Org Subscription Details
      tags:
      - v1 subscriptions
  /subscription/customer_portal_url:
    post:
      operationId: GetCustomerPortalUrl
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Get customer portal url
      tags:
      - v1 subscriptions
  /subscription/stripe/payment_method/{payment_method_id}:
    delete:
      operationId: DeleteStripePaymentMethod
      parameters:
      - description: ID for the stripe payment method
        in: path
        name: payment_method_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.SubscriptionDetails'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: delete stripe setup intent payment method
      tags:
      - v1 subscriptions
    patch:
      operationId: StripePaymentMethodDefault
      parameters:
      - description: ID for the stripe payment method
        in: path
        name: payment_method_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.SubscriptionDetails'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: update stripe payment method to default
      tags:
      - v1 subscriptions
  /subscription/{gateway}/webhook:
    post:
      operationId: SubscriptionPGWebhook
      parameters:
      - description: "gateway name, current only stripe"
        in: path
        name: gateway
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Service Unavailable
      security:
      - JWTKeyAuth: []
      summary: S2S Webhook received from PG
      tags:
      - v1 subscriptions
  /ui/banner-messages:
    get:
      operationId: GetBannerMessages
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/commons.BannerMessage'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Internal Server Error
      security:
      - JWTKeyAuth: []
      summary: Get specific banner messages for UI/Org or all
      tags:
      - v1 ui
  /vcs/approve-integration:
    put:
      operationId: ApproveVCSIntegration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveVCSIntegrationRequest'
        description: Approve vcs integration app installation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUserResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      summary: This handles the callback for approving an installation
      tags:
      - v1 vcs
      x-codegen-request-body-name: body
  /vcs/entities:
    get:
      description: |-
        VCS Entities refers to git entites like git repos, git branches, etc.
        This endpoint is a commons endpoint to fetch these.
        ParentID is required depending on what git entity you are fetching.

        Git entity heirchary:
        Git Organization > Git Repository > Git Branch

        When fetching an entity the parent id is the id of git entity one level above
        So for example, fetching repository will be
        http://backend.warpbuild.com/api/v1/vcs/entities?provider=gitlab&entity_type=repository&parent_id=organization_external_id
        For the most top level entity there is no parent_id.
      operationId: ListVCSEntites
      parameters:
      - description: Git provider
        in: query
        name: provider
        schema:
          type: string
      - description: Filter using organization name
        in: query
        name: name
        schema:
          type: string
      - description: IntegrationID used by the git provider
        in: query
        name: integration_id
        schema:
          type: string
      - description: VCS Entity that should be returned
        in: query
        name: entity_type
        required: true
        schema:
          enum:
          - organization
          - repository
          - branch
          type: string
      - description: VCS Entity Parent ID
        in: query
        name: parent_id
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VCSEntity'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Lists all vcs entities for vcs integration
      tags:
      - v1 vcs
  /vcs/integrations:
    get:
      operationId: ListVCSIntegration
      parameters:
      - description: vcs integration provider filter
        in: query
        name: provider
        schema:
          type: string
      - description: vcs integration provider filter
        in: query
        name: status
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VCSIntegration'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Lists all vcs integration for provider
      tags:
      - v1 vcs
    post:
      operationId: CreateVCSIntegration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVCSIntegrationRequest'
        description: Create new vcs integration body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCSIntegration'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Create a new vcs integration
      tags:
      - v1 vcs
      x-codegen-request-body-name: body
  /vcs/integrations/{integration_id}:
    delete:
      operationId: DeleteVCSIntegration
      parameters:
      - description: ID for the vcs integration
        in: path
        name: integration_id
        required: true
        schema:
          type: string
      - description: ID for the vcs integration
        in: query
        name: provider
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.GenericSuccessMessage'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Delete an existing vcs integration
      tags:
      - v1 vcs
    put:
      operationId: UpdateVCSIntegration
      parameters:
      - description: ID for the vcs integration
        in: path
        name: integration_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVCSIntegrationRequest'
        description: Update vcs integration body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateVCSIntegrationResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Update an existing vcs integration
      tags:
      - v1 vcs
      x-codegen-request-body-name: body
  /vcs/list-runner-groups:
    post:
      operationId: ListVCSRunnerGroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commons.ListVCSRunnerGroupsInput'
        description: List runner groups input
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.ListVCSRunnerGroupsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Lists all vcs runner groups
      tags:
      - v1 vcs
      x-codegen-request-body-name: body
  /vcs/repos:
    get:
      operationId: ListVCSRepos
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/commons.Repo'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Lists all vcs repos for vcs integration
      tags:
      - v1 vcs
    post:
      operationId: CreateVCSGitRepo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commons.CreateRepoOptions'
        description: create repo options
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.Repo'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth | WarpBuildAdminSecretAuth: []
      summary: create vcs repo based on repo internal id
      tags:
      - v1 vcs
      x-codegen-request-body-name: body
  /vcs/repos/{id}:
    get:
      operationId: GetVCSGitRepo
      parameters:
      - description: internal id for the vcs git repo
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commons.Repo'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: get vcs repo based on repo internal id
      tags:
      - v1 vcs
  /workflows:
    get:
      description: Workflows (workflows)
      operationId: ListWorkflows
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkflowsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Lists all workflows (workflows) for organization according to repo
      tags:
      - v1 workflows
  /workflows/pr-auth-url:
    get:
      description: Get auth url required for GH PR
      operationId: GetPullRequestAuthURL
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Get auth url required for GH PR
      tags:
      - v1 workflows
  /workflows/pull:
    patch:
      description: Workflows (workflows)
      operationId: PullWorkflows
      responses:
        "200":
          content: {}
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Pulls all workflows from the provider to the database
      tags:
      - v1 workflows
  /workflows/warp:
    patch:
      description: Warps workflows
      operationId: WarpWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarpWorkflowsRequest'
        description: Warp workflows options
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpWorkflowsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarpBuildAPIError'
          description: Not Found
      security:
      - JWTKeyAuth: []
      summary: Warps workflows for organization according to given internal workflow
        ids
      tags:
      - v1 workflows
      x-codegen-request-body-name: body
components:
  schemas:
    ApproveVCSIntegrationRequest:
      example:
        code: code
        installation_id: installation_id
      properties:
        code:
          type: string
        installation_id:
          type: string
      type: object
    AuthUserRequest:
      example:
        code: code
        state: state
      properties:
        code:
          type: string
        state:
          type: string
      required:
      - code
      - state
      type: object
    AuthUserResponse:
      example:
        access_token: access_token
        refresh_token: refresh_token
        is_different_org: true
        organization:
          avatar_url: avatar_url
          name: name
          id: id
          created_by: 0
        user:
          avatar_url: avatar_url
          updated_at: updated_at
          name: name
          created_at: created_at
          id: 6
          login: login
          signup_provider: signup_provider
          email: email
          signup_provider_user_id: signup_provider_user_id
      properties:
        access_token:
          type: string
        is_different_org:
          type: boolean
        organization:
          $ref: '#/components/schemas/V1Organization'
        refresh_token:
          type: string
        user:
          $ref: '#/components/schemas/V1User'
      required:
      - access_token
      - is_different_org
      - organization
      - refresh_token
      - user
      type: object
    CreateVCSIntegrationRequest:
      example:
        provider: provider
        vcs_url: vcs_url
        additional_state: "{}"
        application_secret: application_secret
        application_callback_url: application_callback_url
        application_id: application_id
      properties:
        additional_state:
          properties: {}
          type: object
        application_callback_url:
          type: string
        application_id:
          type: string
        application_secret:
          type: string
        provider:
          type: string
        vcs_url:
          type: string
      required:
      - provider
      type: object
    ListWorkflowsResponse:
      example:
        last_synced_at: last_synced_at
        is_pulling: true
        workflows:
        - provider_integration_id: provider_integration_id
          runner_info:
            os: os
            host: host
            arch: arch
          jobs_runner_info:
          - runner_id: runner_id
            warp_added_at: warp_added_at
            warp_removed_at: warp_removed_at
            runner_arch: runner_arch
            job_id: job_id
            runner_name: runner_name
            runner_os: runner_os
            runner_host: runner_host
          - runner_id: runner_id
            warp_added_at: warp_added_at
            warp_removed_at: warp_removed_at
            runner_arch: runner_arch
            job_id: job_id
            runner_name: runner_name
            runner_os: runner_os
            runner_host: runner_host
          external_id: external_id
          warp_pr_runner: warp_pr_runner
          external_repo_id: external_repo_id
          warp_pr_id: warp_pr_id
          url: url
          is_repo_public: true
          warp_status: warp_status
          provider: provider
          stats:
            run_duration: 6
            run_count: 0
          organization_id: organization_id
          name: name
          id: id
          external_repo_entity: external_repo_entity
          warp_pr_link: warp_pr_link
        - provider_integration_id: provider_integration_id
          runner_info:
            os: os
            host: host
            arch: arch
          jobs_runner_info:
          - runner_id: runner_id
            warp_added_at: warp_added_at
            warp_removed_at: warp_removed_at
            runner_arch: runner_arch
            job_id: job_id
            runner_name: runner_name
            runner_os: runner_os
            runner_host: runner_host
          - runner_id: runner_id
            warp_added_at: warp_added_at
            warp_removed_at: warp_removed_at
            runner_arch: runner_arch
            job_id: job_id
            runner_name: runner_name
            runner_os: runner_os
            runner_host: runner_host
          external_id: external_id
          warp_pr_runner: warp_pr_runner
          external_repo_id: external_repo_id
          warp_pr_id: warp_pr_id
          url: url
          is_repo_public: true
          warp_status: warp_status
          provider: provider
          stats:
            run_duration: 6
            run_count: 0
          organization_id: organization_id
          name: name
          id: id
          external_repo_entity: external_repo_entity
          warp_pr_link: warp_pr_link
      properties:
        is_pulling:
          type: boolean
        last_synced_at:
          type: string
        workflows:
          items:
            $ref: '#/components/schemas/commons.Workflow'
          type: array
      type: object
    MeResponse:
      example:
        organization:
          avatar_url: avatar_url
          name: name
          id: id
          created_by: 0
        vcs_integration:
          account_id: account_id
          connection_status: connection_status
          target_type: target_type
          installation_id: installation_id
          id: id
          account_owner: account_owner
        extras:
          key: extras
        user:
          avatar_url: avatar_url
          updated_at: updated_at
          name: name
          created_at: created_at
          id: 6
          login: login
          signup_provider: signup_provider
          email: email
          signup_provider_user_id: signup_provider_user_id
      properties:
        extras:
          additionalProperties:
            type: string
          type: object
        organization:
          $ref: '#/components/schemas/V1Organization'
        user:
          $ref: '#/components/schemas/V1User'
        vcs_integration:
          $ref: '#/components/schemas/commons.VCSIntegrationLean'
      required:
      - organization
      - user
      - vcs_integration
      type: object
    SwitchOrganizationRequest:
      example:
        refresh_token: refresh_token
        organization_id: organization_id
      properties:
        organization_id:
          type: string
        refresh_token:
          type: string
      required:
      - organization_id
      - refresh_token
      type: object
    SwitchOrganizationResponse:
      example:
        access_token: access_token
        organization:
          avatar_url: avatar_url
          name: name
          id: id
          created_by: 0
      properties:
        access_token:
          type: string
        organization:
          $ref: '#/components/schemas/V1Organization'
      required:
      - access_token
      - organization
      type: object
    TokenRefreshRequest:
      example:
        refresh_token: refresh_token
      properties:
        refresh_token:
          type: string
      required:
      - refresh_token
      type: object
    TokenRefreshResponse:
      example:
        access_token: access_token
      properties:
        access_token:
          type: string
      required:
      - access_token
      type: object
    UpdateOrganizationRequest:
      example:
        avatar_url: avatar_url
        name: name
      properties:
        avatar_url:
          type: string
        name:
          type: string
      type: object
    UpdateVCSIntegrationRequest:
      example:
        setup_action: setup_action
        code: code
        installation_id: installation_id
        id: id
      properties:
        code:
          description: |-
            Code is

            - 'code' param in the callback from gitlab
          type: string
        id:
          type: string
        installation_id:
          description: |-
            InstallationID

            - 'installation_id' param from github installation
          type: string
        setup_action:
          description: |-
            SetupAction

            - 'setup_action' param from github installation
          type: string
      required:
      - id
      type: object
    UpdateVCSIntegrationResponse:
      example:
        vcs_integration:
          integration_url: integration_url
          vcs_url: vcs_url
          connection_status: connection_status
          target_type: target_type
          created_at: created_at
          installation_id: installation_id
          integration_type: integration_type
          account_owner: account_owner
          application_id: application_id
          account_id: account_id
          updated_at: updated_at
          provider: provider
          configuration_url: configuration_url
          organization_id: organization_id
          id: id
        new_session:
          access_token: access_token
          refresh_token: refresh_token
          is_different_org: true
          organization:
            avatar_url: avatar_url
            name: name
            id: id
            created_by: 0
          user:
            avatar_url: avatar_url
            updated_at: updated_at
            name: name
            created_at: created_at
            id: 6
            login: login
            signup_provider: signup_provider
            email: email
            signup_provider_user_id: signup_provider_user_id
      properties:
        new_session:
          $ref: '#/components/schemas/AuthUserResponse'
        vcs_integration:
          $ref: '#/components/schemas/VCSIntegration'
      type: object
    V1ListUsersForOrganizationResult:
      example:
        joined_at: joined_at
        role: role
        avatar_url: avatar_url
        name: name
        id: 0
        email: email
      properties:
        avatar_url:
          type: string
        email:
          type: string
        id:
          type: integer
        joined_at:
          type: string
        name:
          type: string
        role:
          type: string
      type: object
    V1Organization:
      example:
        avatar_url: avatar_url
        name: name
        id: id
        created_by: 0
      properties:
        avatar_url:
          type: string
        created_by:
          type: integer
        id:
          type: string
        name:
          type: string
      required:
      - created_by
      - id
      - name
      type: object
    V1User:
      example:
        avatar_url: avatar_url
        updated_at: updated_at
        name: name
        created_at: created_at
        id: 6
        login: login
        signup_provider: signup_provider
        email: email
        signup_provider_user_id: signup_provider_user_id
      properties:
        avatar_url:
          type: string
        created_at:
          type: string
        email:
          type: string
        id:
          type: integer
        login:
          type: string
        name:
          type: string
        signup_provider:
          type: string
        signup_provider_user_id:
          type: string
        updated_at:
          type: string
      type: object
    VCSEntity:
      example:
        account_id: account_id
        entity_type: entity_type
        integration_id: integration_id
        internal_id: internal_id
        updated_at: updated_at
        web_url: web_url
        provider: provider
        name: name
        created_at: created_at
        external_id: external_id
        display_name: display_name
        commit_id: commit_id
      properties:
        account_id:
          description: |-
            AccountID is the github account

            TODO: AccountID should be group id in case of gitlab
          type: string
        commit_id:
          type: string
        created_at:
          type: string
        display_name:
          type: string
        entity_type:
          type: string
        external_id:
          type: string
        integration_id:
          type: string
        internal_id:
          type: string
        name:
          type: string
        provider:
          type: string
        updated_at:
          type: string
        web_url:
          type: string
      required:
      - display_name
      - entity_type
      - external_id
      - name
      - provider
      type: object
    VCSIntegration:
      example:
        integration_url: integration_url
        vcs_url: vcs_url
        connection_status: connection_status
        target_type: target_type
        created_at: created_at
        installation_id: installation_id
        integration_type: integration_type
        account_owner: account_owner
        application_id: application_id
        account_id: account_id
        updated_at: updated_at
        provider: provider
        configuration_url: configuration_url
        organization_id: organization_id
        id: id
      properties:
        account_id:
          type: string
        account_owner:
          type: string
        application_id:
          type: string
        configuration_url:
          description: |-
            ConfigurationURL

            Github
            - Is the installation's settings page on the github account.
            - This field is only populated after the github account is successfully connected.

            Gitlab
            - <no-equivalent-exists>
          type: string
        connection_status:
          type: string
        created_at:
          type: string
        id:
          type: string
        installation_id:
          type: string
        integration_type:
          type: string
        integration_url:
          type: string
        organization_id:
          type: string
        provider:
          type: string
        target_type:
          type: string
        updated_at:
          type: string
        vcs_url:
          type: string
      required:
      - connection_status
      - created_at
      - id
      - integration_type
      - integration_url
      - provider
      - target_type
      - updated_at
      type: object
    WarpBuildAPIError:
      properties:
        code:
          type: string
        description:
          type: string
        message:
          type: string
        sub_code:
          type: string
        sub_message:
          type: string
      type: object
    WarpWorkflowsRequest:
      example:
        authorization:
          key: authorization
        runner_id: runner_id
        workflow_ids:
        - workflow_ids
        - workflow_ids
      properties:
        authorization:
          additionalProperties:
            type: string
          description: for github oauth flow
          type: object
        runner_id:
          type: string
        workflow_ids:
          items:
            type: string
          type: array
      required:
      - runner_id
      - workflow_ids
      type: object
    WarpWorkflowsResponse:
      example:
        pr_link: pr_link
      properties:
        pr_link:
          type: string
      type: object
    commons.Balance:
      example:
        percentage: 6.027456183070403
        limit: 0.8008281904610115
        id: id
        used: 1.4658129805029452
      properties:
        id:
          type: string
        limit:
          type: number
        percentage:
          type: number
        used:
          type: number
      type: object
    commons.BalanceDetails:
      example:
        free_balance:
          percentage: 6.027456183070403
          limit: 0.8008281904610115
          id: id
          used: 1.4658129805029452
        paid_balance:
          percentage: 6.027456183070403
          limit: 0.8008281904610115
          id: id
          used: 1.4658129805029452
      properties:
        free_balance:
          $ref: '#/components/schemas/commons.Balance'
        paid_balance:
          $ref: '#/components/schemas/commons.Balance'
      type: object
    commons.BannerMessage:
      example:
        closeable: true
        id: 0
        message: message
        priority: 6
        type: type
      properties:
        closeable:
          type: boolean
        id:
          type: integer
        message:
          type: string
        priority:
          type: integer
        type:
          type: string
      type: object
    commons.BillingInfo:
      example:
        email: email
        applied_coupon:
          redeemed_at: redeemed_at
          duration_months: 6
          name: name
          currency: currency
          percent_off: 1.4658129805029452
          id: id
          amount_off: 0
      properties:
        applied_coupon:
          $ref: '#/components/schemas/commons.Coupon'
        email:
          type: string
      type: object
    commons.CacheCostSummary:
      example:
        cache_storage_size_bytes: 0.8008281904610115
        total_cost: 1.4658129805029452
        num_cache_operations: 6
      properties:
        cache_storage_size_bytes:
          type: number
        num_cache_operations:
          type: integer
        total_cost:
          type: number
      type: object
    commons.CostSummary:
      example:
        cache:
          cache_storage_size_bytes: 0.8008281904610115
          total_cost: 1.4658129805029452
          num_cache_operations: 6
        runners:
          total_cost: 5.637376656633329
          arm64_billed_minutes: 5
          x64_billed_minutes: 2
      properties:
        cache:
          $ref: '#/components/schemas/commons.CacheCostSummary'
        runners:
          $ref: '#/components/schemas/commons.RunnersCostSummary'
      type: object
    commons.Coupon:
      example:
        redeemed_at: redeemed_at
        duration_months: 6
        name: name
        currency: currency
        percent_off: 1.4658129805029452
        id: id
        amount_off: 0
      properties:
        amount_off:
          type: integer
        currency:
          type: string
        duration_months:
          type: integer
        id:
          type: string
        name:
          type: string
        percent_off:
          type: number
        redeemed_at:
          type: string
      type: object
    commons.CreateRepoOptions:
      properties:
        description:
          type: string
        display_name:
          type: string
        integration_id:
          type: string
        is_private:
          type: boolean
        name:
          type: string
        owner:
          type: string
        should_auto_init:
          type: boolean
        upsert:
          type: boolean
      required:
      - integration_id
      - name
      - owner
      type: object
    commons.DaywiseCost:
      example:
        date: date
        amount: 0.8008281904610115
        cumulative_amount: 6.027456183070403
      properties:
        amount:
          type: number
        cumulative_amount:
          type: number
        date:
          type: string
      type: object
    commons.DaywiseRuntime:
      example:
        date: date
        runtime_seconds: 0
      properties:
        date:
          type: string
        runtime_seconds:
          type: integer
      type: object
    commons.GithubRunnerApplicationDetails:
      example:
        variables:
          key: variables
        jit: jit
        runner_name: runner_name
        labels:
        - labels
        - labels
      properties:
        jit:
          type: string
        labels:
          items:
            type: string
          type: array
        runner_name:
          type: string
        variables:
          additionalProperties:
            type: string
          type: object
      type: object
    commons.InstanceSku:
      example:
        cores: 6
        memory: 1
        os:
        - ubuntu
        - ubuntu
        arch: x64
        id: id
        display_name: display_name
        properties:
          generation: generation
          burstable_speed: 5.962133916683182
          performance_category: small
          performance_rating: 2
          gpu: 5
          speed: 7.061401241503109
          manufacturer: any
      properties:
        arch:
          enum:
          - x64
          - arm64
          type: string
        cores:
          type: integer
        display_name:
          type: string
        id:
          type: string
        memory:
          type: integer
        os:
          items:
            enum:
            - ubuntu
            - mac
            type: string
          type: array
        properties:
          $ref: '#/components/schemas/commons.InstanceSkuProperties'
      type: object
    commons.InstanceSkuProperties:
      example:
        generation: generation
        burstable_speed: 5.962133916683182
        performance_category: small
        performance_rating: 2
        gpu: 5
        speed: 7.061401241503109
        manufacturer: any
      properties:
        burstable_speed:
          type: number
        generation:
          type: string
        gpu:
          type: integer
        manufacturer:
          enum:
          - any
          - amd
          - intel
          - arm
          type: string
        performance_category:
          enum:
          - small
          - medium
          - large
          type: string
        performance_rating:
          type: integer
        speed:
          type: number
      type: object
    commons.InternalPostUsageInput:
      properties:
        pricing_id:
          type: string
        product_category:
          type: string
        product_id:
          type: string
        product_name:
          type: string
        timestamp:
          type: string
        transaction_id:
          type: string
        usage_count:
          type: integer
      type: object
    commons.InternalPostUsageOutput:
      example:
        ledger_id: ledger_id
        usage_id: usage_id
      properties:
        ledger_id:
          type: string
        usage_id:
          type: string
      type: object
    commons.JobRunnerInfo:
      example:
        runner_id: runner_id
        warp_added_at: warp_added_at
        warp_removed_at: warp_removed_at
        runner_arch: runner_arch
        job_id: job_id
        runner_name: runner_name
        runner_os: runner_os
        runner_host: runner_host
      properties:
        job_id:
          type: string
        runner_arch:
          type: string
        runner_host:
          type: string
        runner_id:
          type: string
        runner_name:
          type: string
        runner_os:
          type: string
        warp_added_at:
          type: string
        warp_removed_at:
          type: string
      type: object
    commons.LastJobProcessedMeta:
      example:
        vcs_base_ref: vcs_base_ref
        vcs_head_ref: vcs_head_ref
        vcs_ref: vcs_ref
        vcs_org: vcs_org
        vcs_repo: vcs_repo
        vcs_ref_type: vcs_ref_type
      properties:
        vcs_base_ref:
          type: string
        vcs_head_ref:
          type: string
        vcs_org:
          type: string
        vcs_ref:
          type: string
        vcs_ref_type:
          type: string
        vcs_repo:
          type: string
      type: object
    commons.ListTokensOptions:
      properties:
        organization_id:
          type: string
        user_id:
          type: string
      type: object
    commons.ListUsersOptions:
      properties:
        page:
          type: integer
        per_page:
          type: integer
      type: object
    commons.ListUsersResponse:
      example:
        next: 0
        per_page: 1
        total_rows: 5
        page: 6
        total_pages: 5
        users:
        - avatar_url: avatar_url
          updated_at: updated_at
          name: name
          created_at: created_at
          id: 6
          login: login
          signup_provider: signup_provider
          email: email
          signup_provider_user_id: signup_provider_user_id
        - avatar_url: avatar_url
          updated_at: updated_at
          name: name
          created_at: created_at
          id: 6
          login: login
          signup_provider: signup_provider
          email: email
          signup_provider_user_id: signup_provider_user_id
      properties:
        next:
          type: integer
        page:
          type: integer
        per_page:
          type: integer
        total_pages:
          type: integer
        total_rows:
          type: integer
        users:
          items:
            $ref: '#/components/schemas/V1User'
          type: array
      type: object
    commons.ListVCSRunnerGroupsInput:
      properties:
        fetch_from_remote:
          type: boolean
        integration_id:
          type: string
        owner:
          type: string
      type: object
    commons.ListVCSRunnerGroupsResponse:
      example:
        last_synced_at: last_synced_at
        runner_groups:
        - runners_url: runners_url
          visibility: visibility
          inherited: true
          name: name
          id: 0
          is_default: true
        - runners_url: runners_url
          visibility: visibility
          inherited: true
          name: name
          id: 0
          is_default: true
      properties:
        last_synced_at:
          type: string
        runner_groups:
          items:
            $ref: '#/components/schemas/commons.RunnerGroup'
          type: array
      type: object
    commons.Organization:
      example:
        avatar_url: avatar_url
        name: name
        id: id
        created_by: 0
      properties:
        avatar_url:
          type: string
        created_by:
          type: integer
        id:
          type: string
        name:
          type: string
      type: object
    commons.PaymentDetails:
      example:
        amount: 5
        ref: ref
        method: method
        billing_email: billing_email
        currency: currency
        method_meta: method_meta
        status: status
      properties:
        amount:
          type: integer
        billing_email:
          type: string
        currency:
          type: string
        method:
          type: string
        method_meta:
          type: string
        ref:
          type: string
        status:
          type: string
      type: object
    commons.PaymentMethod:
      example:
        country_code: country_code
        last4: last4
        name: name
        exp_month: 5
        external_id: external_id
        exp_year: 2
        is_default: true
        type: type
        issuer: issuer
        iin: iin
        network: network
      properties:
        country_code:
          type: string
        exp_month:
          type: integer
        exp_year:
          type: integer
        external_id:
          type: string
        iin:
          type: string
        is_default:
          type: boolean
        issuer:
          type: string
        last4:
          type: string
        name:
          type: string
        network:
          type: string
        type:
          type: string
      type: object
    commons.PostPaymentMethodSetupInput:
      example:
        payment_method_id: payment_method_id
        organization_id: organization_id
        customer_id: customer_id
        setup_intent_id: setup_intent_id
      properties:
        customer_id:
          type: string
        organization_id:
          type: string
        payment_method_id:
          type: string
        setup_intent_id:
          type: string
      type: object
    commons.ProviderInstanceSkuMapping:
      example:
        provider_sku_meta: "{}"
        provider: provider
        provider_sku: provider_sku
        sku_id: sku_id
        id: id
        priority: 0
      properties:
        id:
          type: string
        priority:
          type: integer
        provider:
          type: string
        provider_sku:
          type: string
        provider_sku_meta:
          type: object
        sku_id:
          type: string
      type: object
    commons.ProviderSkuMeta:
      type: object
    commons.RateCalculationInput:
      properties:
        configuration:
          $ref: '#/components/schemas/commons.RunnerSetConfiguration'
        product_type:
          enum:
          - runner
          - cache
          type: string
      type: object
    commons.RateCalculationOutput:
      example:
        rate: 0.8008281904610115
        currency: currency
      properties:
        currency:
          type: string
        rate:
          type: number
      type: object
    commons.Repo:
      example:
        owner: owner
        integration_id: integration_id
        sshurl: sshurl
        created_at: created_at
        display_name: display_name
        vcs_id: vcs_id
        account_id: account_id
        updated_at: updated_at
        web_url: web_url
        provider: provider
        name: name
        default_branch: default_branch
        id: id
      properties:
        account_id:
          type: string
        created_at:
          type: string
        default_branch:
          type: string
        display_name:
          type: string
        id:
          type: string
        integration_id:
          type: string
        name:
          type: string
        owner:
          type: string
        provider:
          type: string
        sshurl:
          type: string
        updated_at:
          type: string
        vcs_id:
          type: string
        web_url:
          type: string
      type: object
    commons.ReqCheckoutSession:
      properties:
        cancel_url:
          type: string
        success_url:
          type: string
      required:
      - cancel_url
      - success_url
      type: object
    commons.ReqSetupIntentInit:
      properties:
        cancel_url:
          type: string
        success_url:
          type: string
      required:
      - cancel_url
      - success_url
      type: object
    commons.ResCheckoutSession:
      example:
        session_id: session_id
        redirect_url: redirect_url
      properties:
        redirect_url:
          type: string
        session_id:
          type: string
      type: object
    commons.ResSetupIntentInit:
      example:
        data: "{}"
        gateway: gateway
      properties:
        data:
          type: object
        gateway:
          type: string
      type: object
    commons.Runner:
      example:
        updated_at: updated_at
        configuration:
          capacity_type: spot
          image: image
          storage:
            size: 6
            tier: low
            iops: 0
            throughput: 1
          sku: sku
        stock_runner_id: stock_runner_id
        organization_id: organization_id
        name: name
        vcs_integration_id: vcs_integration_id
        active: true
        created_at: created_at
        provider_id: provider_id
        id: id
        labels:
        - labels
        - labels
      properties:
        active:
          type: boolean
        configuration:
          $ref: '#/components/schemas/commons.RunnerSetConfiguration'
        created_at:
          type: string
        id:
          type: string
        labels:
          items:
            type: string
          type: array
        name:
          type: string
        organization_id:
          type: string
        provider_id:
          type: string
        stock_runner_id:
          type: string
        updated_at:
          type: string
        vcs_integration_id:
          type: string
      type: object
    commons.RunnerGroup:
      example:
        runners_url: runners_url
        visibility: visibility
        inherited: true
        name: name
        id: 0
        is_default: true
      properties:
        id:
          type: integer
        inherited:
          type: boolean
        is_default:
          type: boolean
        name:
          type: string
        runners_url:
          type: string
        visibility:
          type: string
      type: object
    commons.RunnerInfo:
      example:
        os: os
        host: host
        arch: arch
      properties:
        arch:
          type: string
        host:
          type: string
        os:
          type: string
      type: object
    commons.RunnerInstance:
      example:
        cluster: cluster
        running_started_at: running_started_at
        last_job_processed_id: last_job_processed_id
        configuration:
          capacity_type: spot
          image: image
          stock_runner_set_id: stock_runner_set_id
          provider_sku_mapping:
          - provider_sku_meta: "{}"
            provider: provider
            provider_sku: provider_sku
            sku_id: sku_id
            id: id
            priority: 0
          - provider_sku_meta: "{}"
            provider: provider
            provider_sku: provider_sku
            sku_id: sku_id
            id: id
            priority: 0
          storage:
            size: 6
            tier: low
            iops: 0
            throughput: 1
          sku:
            cores: 6
            memory: 1
            os:
            - ubuntu
            - ubuntu
            arch: x64
            id: id
            display_name: display_name
            properties:
              generation: generation
              burstable_speed: 5.962133916683182
              performance_category: small
              performance_rating: 2
              gpu: 5
              speed: 7.061401241503109
              manufacturer: any
        allocation_requested_at: allocation_requested_at
        created_at: created_at
        external_id: external_id
        first_polled_at: first_polled_at
        runner_for: runner_for
        runner_set_id: runner_set_id
        updated_at: updated_at
        host: host
        vcs_integration_id: vcs_integration_id
        id: id
        allocation_requested_event_at: allocation_requested_event_at
        allocated_at: allocated_at
        provider_kind: provider_kind
        last_polled_at: last_polled_at
        created_by: created_by
        last_job_processed_meta:
          vcs_base_ref: vcs_base_ref
          vcs_head_ref: vcs_head_ref
          vcs_ref: vcs_ref
          vcs_org: vcs_org
          vcs_repo: vcs_repo
          vcs_ref_type: vcs_ref_type
        labels:
        - labels
        - labels
        allocation_for: allocation_for
        organization_id: organization_id
        provider_kind_id: provider_kind_id
        purged_at: purged_at
        purged_reason: purged_reason
        status: status
      properties:
        allocated_at:
          type: string
        allocation_for:
          type: string
        allocation_requested_at:
          type: string
        allocation_requested_event_at:
          type: string
        cluster:
          type: string
        configuration:
          $ref: '#/components/schemas/commons.RunnerInstanceConfiguration'
        created_at:
          type: string
        created_by:
          type: string
        external_id:
          type: string
        first_polled_at:
          type: string
        host:
          type: string
        id:
          type: string
        labels:
          items:
            type: string
          type: array
        last_job_processed_id:
          type: string
        last_job_processed_meta:
          $ref: '#/components/schemas/commons.LastJobProcessedMeta'
        last_polled_at:
          type: string
        organization_id:
          type: string
        provider_kind:
          type: string
        provider_kind_id:
          type: string
        purged_at:
          type: string
        purged_reason:
          type: string
        runner_for:
          type: string
        runner_set_id:
          type: string
        running_started_at:
          type: string
        status:
          type: string
        updated_at:
          type: string
        vcs_integration_id:
          type: string
      type: object
    commons.RunnerInstanceAllocationDetails:
      example:
        gh_runner_application_details:
          variables:
            key: variables
          jit: jit
          runner_name: runner_name
          labels:
          - labels
          - labels
        runner_application: github
        runner_instance:
          cluster: cluster
          running_started_at: running_started_at
          last_job_processed_id: last_job_processed_id
          configuration:
            capacity_type: spot
            image: image
            stock_runner_set_id: stock_runner_set_id
            provider_sku_mapping:
            - provider_sku_meta: "{}"
              provider: provider
              provider_sku: provider_sku
              sku_id: sku_id
              id: id
              priority: 0
            - provider_sku_meta: "{}"
              provider: provider
              provider_sku: provider_sku
              sku_id: sku_id
              id: id
              priority: 0
            storage:
              size: 6
[...]
