{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "This is the docs for warp builds api for argonaut",
        "title": "Warp Builds API Docs",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "0.4.0"
    },
    "host": "backend.warpbuild.com",
    "basePath": "/api/v1",
    "paths": {
        "/auth": {
            "post": {
                "description": "Logs in or signs up the userm",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 auth"
                ],
                "summary": "Auth user",
                "operationId": "AuthUser",
                "parameters": [
                    {
                        "description": "Auth request body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AuthUserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AuthUserResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/auth/login/{provider}": {
            "get": {
                "description": "Get auth url",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "v1 auth"
                ],
                "summary": "Get auth url",
                "operationId": "GetAuthURL",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Provider",
                        "name": "provider",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirects to auth url",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/auth/logout": {
            "patch": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "description": "Logs out the user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 auth"
                ],
                "summary": "Logout",
                "operationId": "Logout",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/auth/me": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "description": "Gets the currently logged in user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 auth"
                ],
                "summary": "Auth user",
                "operationId": "GetMe",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MeResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/auth/switch": {
            "patch": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 auth"
                ],
                "summary": "Switch organization",
                "operationId": "SwitchOrganization",
                "parameters": [
                    {
                        "description": "Switch organization",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SwitchOrganizationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SwitchOrganizationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/auth/token/refresh": {
            "patch": {
                "description": "Refreshes the access token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 auth"
                ],
                "summary": "Refresh token",
                "operationId": "RefreshToken",
                "parameters": [
                    {
                        "description": "Refresh token",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TokenRefreshRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TokenRefreshResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/auth/tokens": {
            "get": {
                "security": [
                    {
                        "WarpBuildAdminSecretAuth": []
                    }
                ],
                "description": "List user tokens",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 auth"
                ],
                "summary": "List user tokens",
                "parameters": [
                    {
                        "description": "ListTokenOptions",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.ListTokensOptions"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/commons.UserToken"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/auth/users": {
            "get": {
                "security": [
                    {
                        "WarpBuildAdminSecretAuth": []
                    }
                ],
                "description": "List users from authentication provider",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 auth"
                ],
                "summary": "List users",
                "parameters": [
                    {
                        "description": "ListUsersOptions",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.ListUsersOptions"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/commons.ListUsersResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/billing/checkout": {
            "post": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 subscriptions"
                ],
                "summary": "Initiate Checkout for subscription with PG",
                "operationId": "InitateSubscriptionCheckout",
                "parameters": [
                    {
                        "description": "initiate checkout session input",
                        "name": "Body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.ReqCheckoutSession"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.ResCheckoutSession"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/billing/info": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 subscriptions"
                ],
                "summary": "Get Billing Info",
                "operationId": "GetBillingInfo",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.BillingInfo"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 subscriptions"
                ],
                "summary": "Update Billing Info",
                "operationId": "UpdateBillingInfo",
                "parameters": [
                    {
                        "description": "billing info update input",
                        "name": "Body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.UpdateBillingInfoInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.BillingInfo"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/billing/setup_intent/init": {
            "post": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 subscriptions"
                ],
                "summary": "Initiate Checkout for subscription with PG",
                "operationId": "InitiateSetupIntent",
                "parameters": [
                    {
                        "description": "initiate setup intent session input",
                        "name": "Body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.ReqSetupIntentInit"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.ResSetupIntentInit"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/billing/setup_intent/post_processor": {
            "post": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 subscriptions"
                ],
                "summary": "Post Checkout processing for subscription with PG",
                "operationId": "PostSetupIntent",
                "parameters": [
                    {
                        "description": "post setup intent session input",
                        "name": "Body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.PostPaymentMethodSetupInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.PostPaymentMethodSetupInput"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/billing/usage/internal": {
            "post": {
                "security": [
                    {
                        "WarpBuildServiceSecretAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 billing"
                ],
                "summary": "Post Usage for internal service",
                "operationId": "PostUsageForInternalService",
                "parameters": [
                    {
                        "description": "post usage input",
                        "name": "Body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.InternalPostUsageInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.InternalPostUsageOutput"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/debugger/events/publish": {
            "post": {
                "security": [
                    {
                        "WarpBuildAdminSecretAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 debugger"
                ],
                "summary": "Publish an event to the event bus",
                "operationId": "DebugPublishEvent",
                "parameters": [
                    {
                        "description": "Event to publish",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/debugger.PublishEventInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "JSON response",
                        "schema": {
                            "$ref": "#/definitions/types.GenericSuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/insights/integrations/github/callback": {
            "post": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "description": "Callback for verifying insights integration",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 insights integrations"
                ],
                "summary": "GitHub callback for insights",
                "operationId": "GitHubCallback",
                "parameters": [
                    {
                        "description": "Callback input",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/insights.callbackInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AuthUserResponse"
                        }
                    }
                }
            }
        },
        "/jobs/cost-summary": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "description": "GetCostSummary",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "v1 jobs"
                ],
                "summary": "GetCostSummary",
                "operationId": "GetCostSummary",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Date range start",
                        "name": "start_date",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Date range end",
                        "name": "end_date",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.CostSummary"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/jobs/daywise-costs": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "description": "GetDaywiseCosts",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "v1 jobs"
                ],
                "summary": "GetDaywiseCosts",
                "operationId": "GetDaywiseCosts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Date range start",
                        "name": "start_date",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Date range end",
                        "name": "end_date",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/commons.DaywiseCost"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/organization": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 organization"
                ],
                "summary": "Get organization details for the current organization. Current organization is figured from the authorization token",
                "operationId": "GetOrganization",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.Organization"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "description": "User can manage multiple tenanats from one account, this api provides user a functionality to add a new tenant/org to the user.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 organization"
                ],
                "summary": "Adds a new organisation for a current user",
                "operationId": "CreateOrganization",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SwitchOrganizationResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "description": "Organization is figured out from the auth token since tokens are specific to organizations.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 organization"
                ],
                "summary": "Updates existing organization based on the fields provided.",
                "operationId": "UpdateOrganization",
                "parameters": [
                    {
                        "description": "Update existing organization body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateOrganizationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.Organization"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/organization/users": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 organization"
                ],
                "summary": "ListOrgUsers list the users for the current organization",
                "operationId": "ListOrgUsers",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/V1ListUsersForOrganizationResult"
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/organizations": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 organization"
                ],
                "summary": "ListUserOrganizations lists all the organization user has access to.",
                "operationId": "ListUserOrganizations",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/V1Organization"
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runner-image-pull-secrets": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runner_image_pull_secrets"
                ],
                "summary": "List all runner image pull secrets.",
                "operationId": "ListRunnerImagePullSecrets",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.ListRunnerImagePullSecretsOutput"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runner_image_pull_secrets"
                ],
                "summary": "Create a new runner image pull secret.",
                "operationId": "CreateRunnerImagePullSecret",
                "parameters": [
                    {
                        "description": "Runner Image Pull Secret",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.CreateRunnerImagePullSecretInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RunnerImagePullSecret"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runner-image-pull-secrets/{id}": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runner_image_pull_secrets"
                ],
                "summary": "Get runner image pull secret details for the id.",
                "operationId": "GetRunnerImagePullSecret",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Runner Image Pull Secret ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RunnerImagePullSecret"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runner_image_pull_secrets"
                ],
                "summary": "Update runner image pull secret details for the id.",
                "operationId": "UpdateRunnerImagePullSecret",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Runner Image Pull Secret ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Runner Image Pull Secret",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.UpdateRunnerImagePullSecretInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RunnerImagePullSecret"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runner_image_pull_secrets"
                ],
                "summary": "Delete runner image pull secret details for the id.",
                "operationId": "DeleteRunnerImagePullSecret",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Runner Image Pull Secret ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/types.GenericSuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runner-image-versions": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runner_image_versions"
                ],
                "summary": "List all runner image versions.",
                "operationId": "ListRunnerImageVersions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Runner Image ID",
                        "name": "runner_image_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.ListRunnerImageVersionsOutput"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runner-image-versions/{id}": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runner_image_versions"
                ],
                "summary": "Get runner image version details for the id.",
                "operationId": "GetRunnerImageVersion",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Runner Image Version ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RunnerImageVersion"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runner_image_versions"
                ],
                "summary": "Delete runner image version details for the id.",
                "operationId": "DeleteRunnerImageVersion",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Runner Image Version ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/types.GenericSuccessMessage"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runner_image_versions"
                ],
                "summary": "Update runner image version details for the id.",
                "operationId": "UpdateRunnerImageVersion",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Runner Image Version ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Runner Image Version",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.UpdateRunnerImageVersionInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RunnerImageVersion"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runner-images": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runner_images"
                ],
                "summary": "List all runner images.",
                "operationId": "ListRunnerImages",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.ListRunnerImagesOutput"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runner_images"
                ],
                "summary": "Create a new runner image.",
                "operationId": "CreateRunnerImage",
                "parameters": [
                    {
                        "description": "Runner Image",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.CreateRunnerImageInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RunnerImage"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runner-images/{id}": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runner_images"
                ],
                "summary": "Get runner image details for the id.",
                "operationId": "GetRunnerImage",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Runner Image ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RunnerImage"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runner_images"
                ],
                "summary": "Update runner image details for the id.",
                "operationId": "UpdateRunnerImage",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Runner Image ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Runner Image",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.UpdateRunnerImageInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RunnerImage"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runner_images"
                ],
                "summary": "Delete runner image details for the id.",
                "operationId": "DeleteRunnerImage",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Runner Image ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RunnerImage"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runner_instance/internal/{id}/last_job_processed_meta": {
            "get": {
                "security": [
                    {
                        "WarpBuildServiceSecretAuth": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 RunnerInstance"
                ],
                "summary": "Get runner last used job meta",
                "operationId": "GetRunnerLastJobProcessedMeta",
                "parameters": [
                    {
                        "type": "string",
                        "description": "runner instance id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.LastJobProcessedMeta"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runners": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 Runners"
                ],
                "summary": "ListRunners lists all the runners for an org.",
                "operationId": "ListRunners",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/commons.Runner"
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "description": "User can request a runner setup by passing different name.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 Runners"
                ],
                "summary": "Adds a new runner for a current organization",
                "operationId": "SetupRunner",
                "parameters": [
                    {
                        "description": "Create new runner body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.SetupRunnerInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.Runner"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runners/cost/calculator": {
            "post": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 runners"
                ],
                "summary": "Get ComputeCustomRunnerRate details",
                "operationId": "ComputeCustomRunnerRate",
                "parameters": [
                    {
                        "description": "Compute custom runner rate",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.RateCalculationInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RateCalculationOutput"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runners/default-group": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 Runners"
                ],
                "summary": "Get default group for runner set",
                "operationId": "GetRunnerSetDefaultGroup",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RunnerSetDefaultGroup"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 Runners"
                ],
                "summary": "Set default group for runner set",
                "operationId": "SetRunnerSetDefaultGroup",
                "parameters": [
                    {
                        "description": "Set default group for runner set body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.SetRunnerSetDefaultGroupInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RunnerSetDefaultGroup"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runners/usage": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 Runners"
                ],
                "summary": "Get runtimes for runners of the organisation",
                "operationId": "GetRunnersUsage",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Date range start",
                        "name": "start_date",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Date range end",
                        "name": "end_date",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                "ondemand",
                                "spot"
                            ],
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Capacity types",
                        "name": "capacity_types",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                "x64",
                                "arm64"
                            ],
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Architectures",
                        "name": "archs",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                "macos-13",
                                "ubuntu-2204",
                                "macos-14",
                                "ubuntu-2404"
                            ],
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Images",
                        "name": "images",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                2,
                                4,
                                6,
                                8,
                                16,
                                32
                            ],
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "description": "Cores",
                        "name": "cores",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                "stock",
                                "custom"
                            ],
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Runner types",
                        "name": "runner_types",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Search term",
                        "name": "search_term",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RunnersUsage"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runners/{id}": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 Runners"
                ],
                "summary": "Get runner details for the id. Current organization is figured from the authorization token",
                "operationId": "GetRunner",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Runner ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.Runner"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 Runners"
                ],
                "summary": "delete runner for the id. Current organization is figured from the authorization token",
                "operationId": "DeleteRunner",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Runner ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.Runner"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 Runners"
                ],
                "summary": "Get runner details for the id. Current organization is figured from the authorization token",
                "operationId": "UpdateRunner",
                "parameters": [
                    {
                        "description": "update runner body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.UpdateRunnerInput"
                        }
                    },
                    {
                        "type": "string",
                        "description": "Runner ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.Runner"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runners_instance": {
            "post": {
                "security": [
                    {
                        "WarpBuildServiceSecretAuth": []
                    }
                ],
                "description": "Add a new runner instance",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 RunnerInstance"
                ],
                "summary": "Add a new runner instance",
                "operationId": "AddRunnerInstance",
                "parameters": [
                    {
                        "description": "Add runner instance body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commons.AddRunnerInstanceInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RunnerInstance"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runners_instance/{id}/allocation_details": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 RunnerInstance"
                ],
                "summary": "Get runner instance allocation details for the id",
                "operationId": "GetRunnerInstanceAllocationDetails",
                "parameters": [
                    {
                        "type": "string",
                        "description": "runner instance id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "polling secret for validation",
                        "name": "X-POLLING-SECRET",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.RunnerInstanceAllocationDetails"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runners_instance/{id}/cleanup_hook": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 RunnerInstance"
                ],
                "summary": "Get runner instance allocation details for the id",
                "operationId": "RunnerInstanceCleanupHook",
                "parameters": [
                    {
                        "type": "string",
                        "description": "runner instance id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "polling secret for validation",
                        "name": "X-POLLING-SECRET",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/runners_instance/{id}/presigned_log_upload_url": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 RunnerInstance"
                ],
                "summary": "Gets a presigned url for uploading logs for a runner instance",
                "operationId": "GetRunnerInstancePresignedLogUploadURL",
                "parameters": [
                    {
                        "type": "string",
                        "description": "runner instance id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "polling secret for validation",
                        "name": "X-POLLING-SECRET",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Log file name",
                        "name": "log-file-name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.GetPresignedLogUploadURLOutput"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/sku": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 Sku"
                ],
                "summary": "ListAllSku lists all the runners sku for an org.",
                "operationId": "ListSku",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "list of sku id's",
                        "name": "ids",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "cores",
                        "name": "cores",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "memory",
                        "name": "memory",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "x64",
                            "arm64"
                        ],
                        "type": "string",
                        "description": "Architectures",
                        "name": "arch",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                "ubuntu",
                                "mac"
                            ],
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "operating system",
                        "name": "os",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "any",
                            "amd",
                            "intel",
                            "arm"
                        ],
                        "type": "string",
                        "description": "Images",
                        "name": "manufacturer",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "small",
                            "medium",
                            "large"
                        ],
                        "type": "string",
                        "description": "performance category",
                        "name": "performance_category",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "has gpu",
                        "name": "has_gpu",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "burstable",
                        "name": "burstable",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "include internal skus",
                        "name": "include_internal",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/commons.InstanceSku"
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/sku/{id}": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 Sku"
                ],
                "summary": "Get default group for runner set",
                "operationId": "GetSku",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.InstanceSku"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            }
        },
        "/subscription": {
            "get": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 subscriptions"
                ],
                "summary": "Get Current Org Subscription Details",
                "operationId": "GetSubscriptionDetails",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commons.SubscriptionDetails"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/WarpBuildAPIError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "JWTKeyAuth": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "v1 subscriptions"
                ],
                "summary": "Cancel Org current Subscription",
                "operationId": "DeleteCurrentSubscription",
                "responses": {
[...]
